<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/tv.png') }}">
    <title>Coding Edu</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <div style="padding:10px 20px;color:white;background-color:
        {% if category == 'success' %}green;
        {% elif category == 'error' %}red;
        {% endif %}">
        {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <nav style="display:flex;justify-content:space-between;padding:10px 20px;">
        <a style="font-weight:bolder;">CODING EDU</a>
        <div style="display:flex;gap:50px;">
            <a>FAQ</a>
            <a>Feedback</a>
        </div>
    </nav>
    {% block content %}
        
    {% endblock %}
</body>
</html>
