{% extends 'root.html' %}
{% block content %}
    <section class="s">
        <div style="display:flex;flex-direction:column;gap:30px;align-items:center;padding:0px 30px;">
            <h1 class="hero-header">Publish Your <span style="text-decoration:underline;">First Website on Day One</span></h1>
            <p class="hero-p">Interactive. Practical. Free. The best way to start your <b style="color:rgb(189, 0, 189);">web development </b>career.</p>
            <button class="blue-btn first-call">Start Learning Now</button>
        </div>
    </section>
    <section class="s2">
        <div class="s2-inner-container" id="s2-inner-container">
            <img src="{{ url_for('static', filename='images/student.jpg') }}" class="s2-img"/>
            <div class="s2-content">
                <div style="margin:0px 0px 20px 0px;">
                    <h2 class="intro-title">Coding made simple, visual, and fun.</h2>
                    <p class="intro-p">Our structured, hands-on course gets you building real projects from day one with visual tools,
                        instant feedback, and a clear path to becoming a confident web developer.</p>
                    <p class="intro-p">A new, non-traditional way to learn coding — interactive visuals and charts make every concept click.</p>
                </div>
                <div class="signup-container">
                    <h2 class="intro-title">Start Your Web Dev Journey.</h2>
                    <p class="intro-p">Start learning today with your first interactive HTML lesson — no experience required. Enter your email below to begin!</p>
                    <form class="signup-btn-container" method="post">
                         {{form.hidden_tag() }}
                         {{form.email(class_="signup-input")}}
                         {{form.submit(class_="signup-btn")}}
                    </>
                </div>
            </div>
        </div>
    </section>
    <section class="s3">
        <div class="s3-left">
            <h1 class="s3-left-title">For the coding community.</h1>
            <p style="font-size:20px;">Learn from a developer who's been there, done that.</p>
        </div>
        <div class="s3-right">
            <h1 style="font-size:60px;margin:-40px 0px;">“</h1>
            <h2 style="font-weight:lighter;">As a self-taught developer, I designed this course to give you the structured path I wish I had.”</h2>
            <div style="display:flex;align-items:center;gap:20px;">
                <img src="{{ url_for('static', filename='images/me.jpg') }}" style="height:140px;border-radius:50px;"/>
                <div>
                    <p style="font-weight:bolder;margin-bottom:5px;">Victor Nguyen</p>
                    <i style="font-weight:lighter;color:gray;font-size:14px;line-height:-2px;">AI Prompt Engineer for Anthropic</i>
                </div>
            </div>
        </div>
    </section>
    <section class="s4">
        <h2 class="s4-title">Discover What Modern Coding Education Should Feel Like</h2>
        <div class="compare-main-container">
            <div class="compare-container">
                <span class="compare-outline"></span>
                <div class="compare-content">
                    <h3>Traditional Learning</h3>
                    <ul class="compare-content-list">
                        <li class="compare-content-list-item">
                            <img src="{{ url_for('static', filename='images/cancel.png') }}"/>
                            <p>One-size-fits-all, vague lessons with little personalization or feedback</p></li>
                        <li class="compare-content-list-item">
                            <img src="{{ url_for('static', filename='images/cancel.png') }}"/>
                            <p>Easy to lose motivation — little engagement, unclear goals, and no sense of how everything connects together.</p>
                        </li>
                        <li class="compare-content-list-item">
                            <img src="{{ url_for('static', filename='images/cancel.png') }}"/>
                            <p>Not practical — concepts rarely apply to real-life projects right away</p>
                        </li>
                        <li class="compare-content-list-item">
                            <img src="{{ url_for('static', filename='images/cancel.png') }}"/>
                            <p>Focuses on theory(like DSA and algorithms) over hands-on experience</p>
                        </li>
                        <li class="compare-content-list-item">
                            <img src="{{ url_for('static', filename='images/cancel.png') }}"/>
                            <p>Slow progress — long before you build anything useful</p>
                        </li>
                        <li class="compare-content-list-item">
                            <img src="{{ url_for('static', filename='images/cancel.png') }}"/>
                            <p>Passive learning — mostly watching or reading, not doing</p>
                        </li>
                    </ul>
                </div>
            </div>
           
            <div class="compare-container">
                <span class="compare-outline">.</span>
                <div class="compare-content">
                    <h3>Coding Edu</h3>
                    <ul class="compare-content-list">
                        <li class="compare-content-list-item">
                            <img src="{{ url_for('static', filename='images/check.png') }}"/>
                            <p>Interactive & visual learning tools that make every concept click</p>
                        </li>
                        <li class="compare-content-list-item">
                            <img src="{{ url_for('static', filename='images/check.png') }}"/>
                            <p>Real-life coding practice every lesson</p>
                        </li>
                        <li class="compare-content-list-item">
                            <img src="{{ url_for('static', filename='images/check.png') }}"/>
                            <p>Time-stamped lessons for easy review and progress tracking</p>
                        </li>
                        <li class="compare-content-list-item">
                            <img src="{{ url_for('static', filename='images/check.png') }}"/>
                            <p>Clear, detailed breakdowns of key concepts</p>
                        </li>
                        <li class="compare-content-list-item">
                            <img src="{{ url_for('static', filename='images/check.png') }}"/>
                            <p>Built-in coding dictionary for instant term lookups</p>
                        </li>
                        <li class="compare-content-list-item">
                            <img src="{{ url_for('static', filename='images/check.png') }}"/>
                            <p>Smart note-taking tools to connect ideas and reinforce learning</p>
                        </li>
                    </ul>
                    <button type="button" class="blue-btn final-call">Start Learning Now</button>

                </div>
            </div>
        </div>
    </section>
    <script>
        document.querySelector(".final-call").addEventListener("click", () => {
            document.querySelector("#s2-inner-container").scrollIntoView({ behavior: "smooth" });
            });
        document.querySelector(".first-call").addEventListener("click", () => {
            document.querySelector("#s2-inner-container").scrollIntoView({ behavior: "smooth" });
            });
    </script>
{% endblock %}
